<title>Volunteer Profile Page via Index HTML IN Volunteers</title>
</head>
<body>



<h2>Hello: <%= @volunteer.name %></h2>

<dl>
  <dt>
    Address
  </dt>
  <dd>
    <%= @volunteer.address %>
  </dd>

  <dt>
    Email
  </dt>
  <dd>
    <%= @volunteer.email %>
  </dd>

  <dt>
    Phone
  </dt>
  <dd>


 <%= link_to "Log out", "/volunteers/:id", :method => :delete %>

<p>To Create a Missions Click Here</p>
 <button onclick="location.href='/missions/new';">Missions</button>
  
  </dd>
</dl>
<%=form_tag volunteers_path, :method => 'get' do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<%end%>
<% if @volunteers.present?%>
   <% @volunteers.each do |volunteer|%>
   <%=volunteer.name%>
   
   <% end %>
<% end %>
