<h1>Missions#show</h1>
<p>Find me in app/views/missions/show.html.erb</p>

<h2><%= @missions.name %></h2>
<h2><%= @missions.location %></h2>
<h2><%= @missions.description %></h2>


<button action="submit">Invite Friends</button>
<button onclick="location.href='/missions';">Missions List</button>

<form action="/missions/<%= @missions.id %>/volunteers" method="POST">
	<button type="submit">Join Mission</button>
<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>

<h3>People Already In <%=@missions.name %></h3>
<% @missions.volunteers.each do | volunteer | %>
	<li>
		
			<%= volunteer.name %><br>
		</li>

	<% end %>
</ul>
