<nav class="container-fluid">
    <div class="navbar-header navbar-fixed-top" style="background: rgba(0, 0, 0, 0.8);">
      <a class="navbar-brand" href="#">
       <p>Mission Church</p>
      </a>
      <div class="pull-right">
        <div class="btn-group" role="group">
          <!-- <button class="btn navbar-btn" onclick="location.href='home/sign_up';">Sign In</button> -->
        </div>
        <div class="btn-group" role="group">
          <!-- <button class="btn navbar-btn" onclick="location.href='home/login';">Log In</button> -->
           <%= link_to "Log out", "/volunteers/:id", :method => :delete, :class => "btn navbar-btn" %>
        </div>
      </div>
    </div>


<h1><%= @missions.name %></h1>
<h2><%= @missions.location %></h2>
<h2><%= @missions.description %></h2>



<button onclick="location.href='/missions';">Missions List</button>


<form action="/missions/<%= @missions.id %>/volunteers" method="POST">
<p>Volunteers Join Here</p>
	<button type="submit">Join Mission</button>
<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>

<form action="/missions/<%= @missions.id %>/ministries" method="POST">
<p>Ministries Join Here</p>
	<button type="submit">Join Mission</button>
<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>
<h3>People Already In <%=@missions.name %></h3>
<% @missions.volunteers.each do | volunteer | %>
	<li>
		
			<%= volunteer.name %><br>
		</li>

	<% end %>
</ul>
<h3>Ministry Already In <%=@missions.name %></h3>
<% @missions.ministries.each do | ministry | %>
	<li>
		
			<%= ministry.name %><br>
		</li>

	<% end %>
</ul>